In [9]:
import pandas as pd

scenario = [i for i in range(1, 7)]
data_path = "../../data/4. Processed"

data = {}
for i in scenario:
    full_path = f"{data_path}/{i}"
    train_test_data = {}
    train_test_data['train'] = pd.read_csv(f"{data_path}/{i}/train.csv")
    train_test_data['test'] = pd.read_csv(f"{data_path}/{i}/test.csv")
    data[i] = train_test_data

In [10]:
data[1]['train']

                                                  tweet  labels
0     @USER berita lain polisi mendadak jadi petugas...       0
1     kompolnas: polisi pengaman stadion kanjuruhan ...       1
2     @USER hti sudah dibubarkan, sudah tidak ada wu...       0
3     ekonom dengar janji cak imin gratiskan listrik...       1
4     @USER dipenjara masih bisa ketemu anak  orang ...       0
...                                                 ...     ...
1518  @USER and again? what's wrong with the indomar...       0
1519  @USER karena dgn tv analog, mnc group bisa kla...       0
1520                                        @USER #km50       0
1521  lpi uangkap ada potensi ancaman dari kelompok ...       1
1522  @USER yg perlu diberantas itu jendral2 yg jadi...       0

[1523 rows x 2 columns]