In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
data_csv = ["CNNIndonesia.csv", "detikcom.csv", "tvOneNews.csv", "VIVAcoid.csv"]
relative_path_data = "../../data/2. Filtered/"
organization_path = f"{relative_path_data}/organization"
replies_path = f"{relative_path_data}/replies"

organizaton_df = {data: pd.read_csv(f"{organization_path}/{data}") for data in data_csv}
replies_df = {data: pd.read_csv(f"{replies_path}/{data}") for data in data_csv}

In [12]:
organizaton_df[data_csv[0]].head()

,tweet_id,tweet_url,tweet_date,reply_count,like_count,tweet
0,1608812883831582721,https://twitter.com/CNNIndonesia/status/160881...,2022-12-30 13:10:56+00:00,612,1025,Baznas Jateng Buka Suara Gaduh Ganjar Pranowo ...
1,1608763761703424000,https://twitter.com/CNNIndonesia/status/160876...,2022-12-30 09:55:44+00:00,103,239,Ferdy Sambo Cabut Gugatan ke Jokowi dan Kapolr...
2,1608682638344327170,https://twitter.com/CNNIndonesia/status/160868...,2022-12-30 04:33:23+00:00,54,105,"Jokowi Terbitkan Perppu Cipta Kerja, Gugurkan ..."
3,1608638808718991360,https://twitter.com/CNNIndonesia/status/160863...,2022-12-30 01:39:13+00:00,112,339,RUU: ASN Bisa Dipensiunkan Dini Secara Massal ...
4,1608607065160953857,https://twitter.com/CNNIndonesia/status/160860...,2022-12-29 23:33:05+00:00,38,46,Aturan Baru BBM 1 Januari 2023: Pemerintah Lar...

In [10]:
# Number of tweet
print("Organization")
for i in organizaton_df:
    print(i, len(organizaton_df[i]))
    
print("Replies")
for i in replies_df:
    print(i, len(replies_df[i]))

Organization
CNNIndonesia.csv 843
detikcom.csv 726
tvOneNews.csv 724
VIVAcoid.csv 651
Replies
CNNIndonesia.csv 4837
detikcom.csv 3720
tvOneNews.csv 3705
VIVAcoid.csv 2862

In [38]:
# max and min Fetched dates
print(f"{'Data Name':20}Min Dates\t\t\tMax Dates")
all_min_dates = []
all_max_dates = []
for i in organizaton_df:
    dates = organizaton_df[i]["tweet_date"]
    dates = pd.to_datetime(dates)
    min_dates, max_dates = min(dates), max(dates)
    all_min_dates.append(min_dates)
    all_max_dates.append(max_dates)
    print(f"{i:20}{min_dates}\t{max_dates}")
    
print("Max Dates:", max(all_max_dates))
print("Min Dates:", min(all_min_dates))

Data Name           Min Dates			Max Dates
CNNIndonesia.csv    2022-09-27 13:49:19+00:00	2022-12-30 13:10:56+00:00
detikcom.csv        2022-10-14 06:27:48+00:00	2022-12-30 10:51:11+00:00
tvOneNews.csv       2022-01-09 00:20:32+00:00	2022-12-30 14:38:34+00:00
VIVAcoid.csv        2022-04-01 10:59:33+00:00	2022-12-29 06:48:13+00:00
Max Dates: 2022-12-30 14:38:34+00:00
Min Dates: 2022-01-09 00:20:32+00:00

In [41]:
replies_df[data_csv[0]]

,tweet_id,tweet_url,tweet_date,tweet_conversation_id,reply_count,like_count,tweet
0,1608972314221350914,https://twitter.com/BungRayHasbi/status/160897...,2022-12-30 23:44:27+00:00,1608812883831582721,0,19,@CNNIndonesia MEMALUKAN....begini cara @Baznas...
1,1608970057572552704,https://twitter.com/dbowo99/status/16089700575...,2022-12-30 23:35:29+00:00,1608812883831582721,0,15,@CNNIndonesia @BaznasJateng tolong pak narasi ...
2,1608967817088626693,https://twitter.com/annisaAM0/status/160896781...,2022-12-30 23:26:35+00:00,1608812883831582721,0,39,@CNNIndonesia Penyelewengan dana umat utk kepe...
3,1608966956727828483,https://twitter.com/ahayuningtyas/status/16089...,2022-12-30 23:23:10+00:00,1608812883831582721,0,16,@CNNIndonesia Itu sebabnya untuk Dana zakat at...
4,1608962244385308672,https://twitter.com/Dironotonegoro/status/1608...,2022-12-30 23:04:26+00:00,1608812883831582721,1,30,"@CNNIndonesia Baznas Jateng, 50 mustahik orang..."
...,...,...,...,...,...,...,...
4832,1574764528101109760,https://twitter.com/msh_1188/status/1574764528...,2022-09-27 14:14:55+00:00,1574758082902884360,1,42,"@CNNIndonesia Katanya pro wong cillliiikkkk, t..."
4833,1574761640759009280,https://twitter.com/AkunDidi/status/1574761640...,2022-09-27 14:03:27+00:00,1574758082902884360,6,177,@CNNIndonesia Kezel sama walpri tapi kaosnya d...
4834,1574761442502676480,https://twitter.com/MasSkakterus/status/157476...,2022-09-27 14:02:40+00:00,1574758082902884360,2,269,@CNNIndonesia Repotnya mau menaikkan citra tap...
4835,1574760389224857600,https://twitter.com/arie_sgm/status/1574760389...,2022-09-27 13:58:29+00:00,1574758082902884360,2,67,"@CNNIndonesia ""Alah bisa karena biasa""...\r\n\..."
4836,1574759510463623168,https://twitter.com/ki_duyeh73/status/15747595...,2022-09-27 13:54:59+00:00,1574758082902884360,1,18,@CNNIndonesia sangat merakyat wk wk wk

In [51]:
organizaton_df[data_csv[3]].sort_values('like_count', ascending=False)

,tweet_id,tweet_url,tweet_date,reply_count,like_count,tweet
342,1566750255127085062,https://twitter.com/VIVAcoid/status/1566750255...,2022-09-05 11:29:04+00:00,1813,25180,Mantan ART: Banyak Mayat Dijadikan Patung di R...
331,1568830089961558016,https://twitter.com/VIVAcoid/status/1568830089...,2022-09-11 05:13:35+00:00,941,16513,Bjorka: Bagaimana Rasanya Hidup Menggunakan Ua...
213,1582285743229407232,https://twitter.com/VIVAcoid/status/1582285743...,2022-10-18 08:21:33+00:00,782,8572,Ketua KPAI: Lesti Kejora Lakukan Eksploitasi A...
283,1575730188503379968,https://twitter.com/VIVAcoid/status/1575730188...,2022-09-30 06:12:07+00:00,526,8328,Simpanan Pejabat Bocorkan Foto Rizky Billar da...
98,1596428613246656512,https://twitter.com/VIVAcoid/status/1596428613...,2022-11-26 09:00:16+00:00,268,7652,"Kapten Timnas Portugal, Cristiano Ronaldo meno..."
...,...,...,...,...,...,...
299,1574309835780526080,https://twitter.com/VIVAcoid/status/1574309835...,2022-09-26 08:08:08+00:00,37,14,"Lukas Enembe Sakit, Pengacara: Suaranya Semaki..."
483,1531861988883562497,https://twitter.com/VIVAcoid/status/1531861988...,2022-06-01 04:55:33+00:00,92,13,"Seksi Pamer Belahan Dada, Deretan Gaya Nyentri..."
271,1576876107701555200,https://twitter.com/VIVAcoid/status/1576876107...,2022-10-03 10:05:35+00:00,40,12,"Survei Capres: Prabowo Teratas, Ganjar dan Ani..."
436,1541943926382141440,https://twitter.com/VIVAcoid/status/1541943926...,2022-06-29 00:37:34+00:00,33,10,Rara Pawang Hujan Gak Suka Sama Anies karena R...
510,1526772327760809990,https://twitter.com/VIVAcoid/status/1526772327...,2022-05-18 03:51:03+00:00,58,5,COVID-19 di Korea Utara Melonjak Akibat Warga ...